<div class="w-100 p-3" style="background-color: #eee;"><b>Voici les détails de l'évenement {{ evenement.nomEvent }}</b></div>

<button id="retour" type="button" class="btn btn-info"><a (click)="goBackButtonPressed()" style='cursor: pointer'>Retour à la liste des évènements</a></button>

<div class='cover-photo-holder'>
  <img src="/assets/logoDogsOut.JPG"/>
</div>

<div class='cover-photo-holder2'>
  <img src="/assets/logoDogsOut.JPG"/>
</div>

<div class="Event">
<p-card header="{{ evenement.nomEvent }}" subheader="{{ evenement.lieu }}" [style]="{width: '360px'}" styleClass="ui-card-shadow">
  <p-header>
      <img src="Card" src="/assets/ParcChien.jpg">
  </p-header>
  <div>Début:&nbsp; {{ evenement.dateDeb }}</div>
  <div>Fin:&nbsp; {{ evenement.dateFin }}</div>
  <p-footer>
    <button type="button" class="btn btn-warning"><a (click)="editButtonPressed()" style='cursor: pointer'>Modifier</a></button>
    <button type="button" class="btn btn-danger"><a (click)="deleteButtonPressed()" style='cursor: pointer'>Supprimer</a></button>
  </p-footer>
</p-card>
<br>
</div>