<p-card header="{{ evenement.nomEvent }}" subheader="{{ evenement.lieu }}" [style]="{width: '360px'}" styleClass="ui-card-shadow">
  <p-header>
      <img src="Card" src="/assets/ParcChien.jpg">
  </p-header>
  <div>Début:&nbsp; {{ evenement.dateDeb }}</div>
  <div>Fin:&nbsp; {{ evenement.dateFin }}</div>
  <p-footer>
      <button pButton type="button" label="Modifier" icon="pi pi-check" style="margin-right: .25em"><a (click)="editButtonPressed()" style='cursor: pointer'></a></button>
      <button pButton type="button" label="Supprimer" icon="pi pi-check" style="margin-right: .25em"><a (click)="deleteButtonPressed()" style='cursor: pointer'></a></button>
  </p-footer>
</p-card>
<br>

<button type="button" class="btn btn-info"><a (click)="goBackButtonPressed()" style='cursor: pointer'>Retour à la liste des évènements</a></button>