<div class="w-100 p-3" style="background-color: #eee;"><b>Bonjour cher Administrateur! Que voulez vous faire aujourd'hui?</b></div>
<br>
<br>
<button type="button" class="btn btn-secondary btn-lg btn-block"><a (click)="ficheAnimalMangamentPressed()" style='cursor: pointer'>GESTION DES FICHES ANIMAUX</a></button>
<br>
<br>
<button type="button" class="btn btn-secondary btn-lg btn-block"><a (click)="adherentManagementPressed()" style='cursor: pointer'>GESTION DES ADHERENTS</a></button>
<br>
<br>
<button type="button" class="btn btn-secondary btn-lg btn-block"><a (click)="evenementManagementPressed()" style='cursor: pointer'>GESTION DES EVENEMENTS</a></button>
<br>
<br>
<br>
<div class='cover-photo-holder' style='text-align: center'>
    <img src="/assets/logoDogsOut.JPG"/>
</div>