<div class="w-100 p-3" style="background-color: #eee;"><b>Voici les détails de l'évènement {{ evenement.nomEvent }}</b></div>
  
<div class='cover-photo-holder'>
    <img src="/assets/logoDogsOut.JPG"/>
 </div>
  
  <div class="evenementDetails">
      <div class="data-title">Nom : </div>
      <div class="info">{{ evenement.nomEvent }}</div>
    <div class="data-title">Lieu:</div>
    <div class="info">{{ evenement.lieu }}</div>
      <div class="data-title">Date début:</div>
      <div class="info">{{ evenement.dateDeb }}</div>
      <div class="data-title">Date fin:</div>
      <div class="info">{{ evenement.dateFin }}</div>
  </div>


<button type="button" class="btn btn-light" style="align-content: center; background-color: #44AABF"><a (click)="goBackButtonPressed()" style='cursor: pointer'>Retour à la liste</a></button>
<button type="button" class="btn btn-light" style="align-content: center; background-color: rgb(68, 191, 95)"><a (click)="inscription()" style='cursor: pointer'>S'inscrire</a></button>
