div.data-title {
    font-weight: bold;
    width: 150px;
    float: left;
}

div.info {
    padding: 5px;
}

button {
    height: 100px;
   width: 250px;
   color:white;
   font-size: 2.0em;
   border-radius: 20px;
   margin: 100px;
   margin-top: 230px;
   margin-right: 250px;
   float: right;
}

.infoAdherent {
    margin-left: 100px;
    margin-top: 200px;
    max-width: 20%;
    border-width:3px;
    border-style: groove;
    border-color: rgb(157, 216, 216);
    padding: 2px;
    border-width: 15px;
    text-align: center;
}

.cover-photo-holder {
    float: right;
    margin-right: 600px;
}