<div class="w-100 p-3" style="background-color: #eee;"><b>Création d'une nouvelle fiche animale</b></div>

<div class='cover-photo-holder'>
  <img src="/assets/logoDogsOut.JPG"/>
</div>

<div class='cover-photo-holder2'>
  <img src="/assets/logoDogsOut.JPG"/>
</div>

<form id="formFicheAnimal">
    <div class="col-sm-3 my-2">
      <input class="form-control" [(ngModel)]="ficheAnimal_in_progress.nomAnim" type="text" name="nom" placeholder="Nom"/>
    </div>
    <div class="col-sm-3 my-2">
      <textarea rows="5" [(ngModel)]="ficheAnimal_in_progress.description" class="form-control" name="description">
      </textarea>
    </div>
    <div class="col-sm-3 my-2">
      <label>Age : </label>
      <input type="text" class="form-control" [(ngModel)]="ficheAnimal_in_progress.age" name="age"/>
      <span class="input-group-addon"> ans</span>
    </div>
    <div class="col-sm-3 my-2">
      <label>Race : </label>
      <input type="text" class="form-control" [(ngModel)]="ficheAnimal_in_progress.race" name="race"/>
    </div>
    <div class="col-sm-3 my-2">
      <label>Personnalité : </label>
      <input type="text" class="form-control" [(ngModel)]="ficheAnimal_in_progress.personnalite" name="personnalite"/>
    </div>
    <div class="col-sm-3 my-2">
      <label>Humeur : </label>
      <input type="text" class="form-control" [(ngModel)]="ficheAnimal_in_progress.humeur" name="humeur"/>
    </div>
    <div class="col-sm-3 my-2">
      <label>Lieu préféré : </label>
      <input type="text" class="form-control" [(ngModel)]="ficheAnimal_in_progress.lieuPrefere" name="lieu prefere"/>
    </div>
    <div class="col-sm-3 my-2">
        <label>Sexe : </label>
       <!-- <input type="text" class="form-control" [(ngModel)]="ficheAnimal_in_progress.sexe" name="sexe"/> -->
        <input type="radio" name="gender" value=false checked> Male<br>
        <input type="radio" name="gender" value=true> Female<br>
      </div>
      <div class="col-sm-3 my-2">
        <label>Identifiant adhérent : </label>
        <input type="text" class="form-control" [(ngModel)]="ficheAnimal_in_progress.adherent.idAd" name="idAd"/>
      </div>
    <div class="input-group">
      <input type="button" value="Ajout Fiche" (click)="addUpdateFicheAnimalClicked()"/>
    </div>

  </form>

