.Ajout {
    float: right;
    height: 200px;
    margin-right: 500px;
   margin-top: 200px;
   font-size: 1.5em;
   vertical-align: middle;
}

.cover-photo-holder {
    margin-right: -280px;
    float: right;
    margin-top: 500px;
}