<p><a (click)="goBackButtonPressed()" style='cursor: pointer'>Go Back</a>
  <a (click)="editButtonPressed()" style='cursor: pointer'>Edit </a>
  <a (click)="deleteButtonPressed()" style='cursor: pointer'>Delete</a></p>
<div class='adherent panel panel-default'> 
  <div class="panel-body">
    <p>Pseudonyme: {{ adherent.pseudonyme }}</p>
    <p>Nom: {{ adherent.nom }}</p>
    <p>Prenom : {{ adherent.prenom }}</p>
    <p>Age : {{ adherent.age }}</p>
    <p>Id adhérent : {{ adherent.idAd }}</p>
    <p>Adresse : {{ adherent.adresse }}</p>
    <p>Ville : {{ adherent.ville }}</p>
    <p>Code postale : {{ adherent.cp }}</p>
    <p>Email : {{ adherent.email }}</p>
    <p>Mot de passe : {{ adherent.mdp }}</p>
  </div>
</div>
