<div class="w-100 p-3" style="background-color: #eee;"><b>Création / Mise à jour du compte</b></div>

<div class="CompteAdherentUpadate panel panel-default">
    <div class="panel-heading">
      <h4>Création / Mise à jour du compte</h4>
    </div>
    <div class="input-group">
        <label>Nom : </label>
        <input type="text" class="form-control" [(ngModel)]="adherent_in_progress.nom" name="nom"/>
    </div>
    <div class="input-group">
        <label>Prenom : </label>
        <input type="text" class="form-control" [(ngModel)]="adherent_in_progress.prenom" name="prenom"/>
    </div>
    <div class="input-group">
        <label>Adresse : </label>
        <input type="text" class="form-control" [(ngModel)]="adherent_in_progress.adresse" name="adresse"/>
    </div>
    <div class="input-group">
        <label>Ville : </label>
        <input type="text" class="form-control" [(ngModel)]="adherent_in_progress.ville" name="ville"/>
    </div>
    <div class="input-group">
        <label>Code postale : </label>
        <input type="text" class="form-control" [(ngModel)]="adherent_in_progress.cp" name="cp"/>
    </div>
    <div class="input-group">
        <label>Age : </label>
        <input type="text" class="form-control" [(ngModel)]="adherent_in_progress.age" name="age"/>
    </div>
    <div class="input-group">
        <label>Email : </label>
        <input type="text" class="form-control" [(ngModel)]="adherent_in_progress.email" name="email"/>
    </div>
    <div class="input-group">
        <label>Mot de passe : </label>
        <input type="text" class="form-control" [(ngModel)]="adherent_in_progress.mdp" name="mot de passe"/>
    </div>
    <div class="input-group">
      <input type="button" value="Création / Mise à jour du Compte" (click)="addUpdateAdherentClicked()"/>
    </div>
</div>
